
:root {
  --black: #171321;
  --green: #21a743;
  --lgreen: #00F14C;
  --dkgreen: rgb(0, 165, 100);
  --lorange: rgb(255, 226, 18);
  --yellow: #FFFF00;
  --orange: rgb(255, 159, 16);
  --alabester: #EDEADE;
  --burnoak:  #442a22;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  color: #1B1212;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* auth page */

.auth {
  margin-top: 25;
  margin-bottom: 25rem;
  padding: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  /* height: 150vh;  */
  color: var(--gren);

}

.auth-container {
  /* margin-top: 10rem;
  margin-bottom: 10rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}
.auth-container h2{
  color: black;
  margin-bottom: 10rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* color: var(--green); */
}

label {
  font-weight: bold;
  margin-bottom: .5rem;
}

input {
  padding: 1rem;
  font-size: var(--font-size);
  border-radius: 0.2rem;
}

/* nav component */

.navbar {
  font-family: var(--mono);
  padding: 4rem 1rem;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar a {
  color: var(--green);
  text-decoration: none;

}
.navbar a:hover {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--green);

}
.navbar a:active {
  text-decoration: none;
  border-bottom: 1px solid red;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 10rem;
  margin-bottom: 40rem;
  width: 25rem;
  color: var(--burnoak);
}
.create-recipe h2 {
  color: var(--green);
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.saved-recipes  h2 {
  color: var(--green);
  margin-top: 10rem;
  margin-bottom: 10rem;

}
.saved-recipes  h1 {
  color: var(--green);
  margin-top: 15rem;
  margin-bottom: 15rem;

}

.create-recipe form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.create-btn {

  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .2rem .5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: whitesmoke;
  border: 1px solid  #999;
  border-radius: .2rem;
  box-shadow: 0 .5rem #999;
  color: var(--burnoak);

}
/* .create-recipe:hover {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} */
.create-btn:hover {
  background-color: white;

}
.create-btn:active {
  background-color: red;
}
/* saved recipes */
.saved-recipes ul {

  list-style: none;
  padding: 1rem;
  margin: 1rem;

}





/* home pages */
.home {
  margin-top: 5rem;
  margin-bottom: 35rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

}
.home ul {
  list-style: none;
  padding: 5rem;
  margin: 5rem;
}

.home li {

  padding: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* background-color: whitesmoke; */
  /* box-shadow: 5px 10px whitesmoke; */

}
/* .home li:hover {
  border: .2rem solid whitesmoke;
  border-radius: .5%;
} */

.home h1 {
  
    display: block;
    font-size: 2.5rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: bold;
    font-family: var(--mono);
}
.home h2 {
  display: block;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: bold;
  font-family: var(--mono);

}


/* .home h2:hover {

  border-bottom: .1px solid var(--green);
 
} */

.save-btn {
  display: inline-block;
  padding: .2rem .5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: whitesmoke;
  border: 1px solid  #999;
  border-radius: .2rem;
  box-shadow: 0 .5rem #999;

}
.save-btn:hover {
  background-color: white;
}
.save-btn:active {
  background-color: red;
}

.recipes > h2 {
  color: var(--green);
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.recipes > p {
  color: var(--burnoak);
  font-size: 3rem;
 
}



/* instructions */

/* ingredients */
.ingredients {
  margin-top: 1rem;
  margin-bottom: 1rem;
}



/* footer */

.footer {
 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  gap: 5rem;
  font-size: 1.5rem;
  padding: 2rem;
  background-color: var(--green);
  color: white;

}
.footer-list {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.footer-list a {
  color: white;
  text-decoration: none;
}
.footer-list a:hover {

  border-bottom: 1px solid white
}
.icons {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem;
  padding: .4rem;
}
.icons:hover {

  background-color: peru;

}

.fontfooer {
  font-size: small;
  padding: 3rem;

}
.outer {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: end;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.footer-container {
  width: 100%;
  background-color: var(--green);
  color: white;

}


.logo {
  margin: 20rem;
  text-align: center;
}

.logo > img {
  width: 30vw;
  height: 30vw;
}

.logo-cover > img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

.example {
  margin: 1em 0;
  text-align: center;
  box-shadow: 5px 10px #888888;
}

.example > img {
  width: 30vw;
  height: 30vw;
}

.example-cover > img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}
.home p {
  width: 30vw;
  font-size: var(--font-size)
}
.imghome {
  margin: 1em 0;
  text-align: center;
}


.imghome > img {
  width: 40vw;
  height: 40vw;
}
.imghome-cover > img {
  width: 90vw;
  height: 40vw;
  object-fit: cover;
}

.saved-recipes {
  /* margin: 1em 0;
  text-align: center; */
  margin-top: 5rem;
  margin-bottom: 35rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.saved-recipes h2 {
  color: var(--green);
  font-size: 2rem;
  font-family: monospace;
}
.saved-recipes h1 {
  color: var(--green);
  font-size: 3rem;
  font-family: monospace;
}
.saved-recipes p {
  width: 60vw;
}

.saved-recipe > img {
  width: 30vw;
  height: 30vw;
}


.saved-recipe-cover > img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}
.nav-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: var(--green);
  border: none;
  border-radius: .2rem;
  box-shadow: 0 .5rem #999;
}
.nav-btn:hover {

  background-color: #4CAF50;
}
.nav-btn:active {
  background-color: red;
}
.white {
  color: white;
  background-color: royalblue;
  padding: .5rem;
}
.white:hover {
  background-color: white;
  color: royalblue;
}
.green {
  color: var(--green);
}
.red {
  color: red;
}

.up {
  font-size: 8rem;
  padding: .5rem;
  color: yellowgreen;
}
.up:hover {
  background-color: white;
 
}

div.logo:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}



   @media (min-width: 420px) {
    .home h1, h2 {
      font-size: 2rem;
      color: red;
    }
    }

    /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .home h1{
    font-size: 2rem;
  }
  .home p {
    font-size: 1.2rem;
  }
  .saved-recipes h1 {
    font-size: 3rem;
  }

  .saved-recipes h2 {
    font-size: 2.5rem;
  }

  .saved-recipes p {
    font-size: 1.5rem;
  }
  .navbar {
    font-size: 1.2rem;
  }
  .nav-btn {
    font-size: 1.5rem;
  }
  .create-recipe h2 {
    font-size: 2.5rem;;
  }
  .create-recipe p{
    font-size: 2rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .home h1{
    font-size: 1.5rem;
  }
  .home p {
    font-size: 1rem;
  }
  .saved-recipes h1 {
    font-size: 2rem;
  }
  .saved-recipes h2 {
    font-size: 1.6rem;
  }
  .saved-recipes p {
    font-size: 1.2rem;
  }
  .navbar {
    font-size: 1rem;
  }
  .nav-btn {
    font-size: 1rem;
  }
  .create-recipe h2 {
    font-size: 1.5rem;;
  }
  .create-recipe p{
    font-size: 1rem;
  }


}
.home p {
  width: 40vw;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.shadows {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.recipe-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.recipes {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  color: var(--green);
}
.recipes h2{
color: var(--green);
}
.recipes p{
  font-style: italic;
  }
  .saved-shadow {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 1rem;
  }
  .shadow-create-recipe {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }



