
:root {
  --black: #171321;
  --green: #21a743;
  --lgreen: #00F14C;
  --dkgreen: rgb(0, 165, 100);
  --lorange: rgb(255, 226, 18);
  --orange: rgb(255, 159, 16);
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* height: 100vh;  */
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: .5rem;
}

input {
  padding: 1rem;
  font-size: var(--font-size);
  border-radius: 0.2rem;
}

.navbar {
  font-family: var(--mono);
  padding: 4rem 1rem;
  width: 100%;
  background-color: var(--green);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

 
}

.navbar a {
  color: white;
  text-decoration: none;

}
.navbar a:hover {
  text-decoration:underline;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
.home ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;

}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 12px;
}
.footer {
  text-align: center;
  padding: 4rem 0;

}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;

}
